@using DesignPattern.CQRS.CQRSPattern.Results
@model GetProductUpdateQueryResult
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <label>Ürün Id</label>
        <input type="text" class="form-control" asp-for="Id" />
        <br />
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Ürün Stok Sayısı</label>
        <input type="text" class="form-control" asp-for="StockNumber" />
        <br />
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" asp-for="Price" />
        <br />
        <label>Ürün Açıklaması</label>
        <input type="text" class="form-control" asp-for="Description" />
        <br />
        <button class="btn btn-success">Ürünü Güncelle</button>
    </form>
</div>

